USE [master]
GO
/****** Object:  Database [moviedb]    Script Date: 12/10/2019 1:04:38 PM ******/
CREATE DATABASE [moviedb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'moviedb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\moviedb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'moviedb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\moviedb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [moviedb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [moviedb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoviesComingSoonDB]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviesComingSoonDB](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[year] [int] NULL,
	[genres] [varchar](max) NULL,
	[ratings] [varchar](max) NULL,
	[poster] [varchar](max) NULL,
	[contentRating] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
	[releaseDate] [varchar](max) NULL,
	[averageRating] [int] NULL,
	[originalTitle] [varchar](max) NULL,
	[storyline] [varchar](max) NULL,
	[actors] [varchar](max) NULL,
	[imdbRating] [float] NULL,
	[posterurl] [varchar](max) NULL,
 CONSTRAINT [PK_MoviesComingSoonDB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoviesInTheaters]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoviesInTheaters](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[actors] [varchar](max) NULL,
	[averageRating] [int] NULL,
	[contentRating] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
	[genres] [varchar](max) NULL,
	[imdbRating] [float] NULL,
	[originalTitle] [varchar](max) NULL,
	[poster] [varchar](max) NULL,
	[posterurl] [varchar](max) NULL,
	[ratings] [int] NULL,
	[releaseDate] [varchar](max) NULL,
	[storyline] [varchar](max) NULL,
	[title] [varchar](max) NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_MoviesInTheaters] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopRatedIndian1]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopRatedIndian1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[year] [int] NULL,
	[genres] [varchar](max) NULL,
	[ratings] [int] NULL,
	[poster] [varchar](max) NULL,
	[contentRating] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
	[releaseDate] [varchar](max) NULL,
	[averageRating] [int] NULL,
	[originalTitle] [varchar](max) NULL,
	[storyline] [varchar](max) NULL,
	[actors] [varchar](max) NULL,
	[imdbRating] [float] NULL,
	[posterurl] [varchar](max) NULL,
 CONSTRAINT [PK_TopRatedIndian1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopRatedIndian2]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopRatedIndian2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[year] [int] NULL,
	[genres] [varchar](max) NULL,
	[ratings] [int] NULL,
	[poster] [varchar](max) NULL,
	[contentRating] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
	[releaseDate] [varchar](max) NULL,
	[averageRating] [int] NULL,
	[originalTitle] [varchar](max) NULL,
	[storyline] [varchar](max) NULL,
	[actors] [varchar](max) NULL,
	[imdbRating] [float] NULL,
	[posterurl] [varchar](max) NULL,
 CONSTRAINT [PK_TopRatedIndian2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopRatedMovies1]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopRatedMovies1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[actors] [varchar](max) NULL,
	[averageRating] [int] NULL,
	[contentRating] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
	[genres] [varchar](max) NULL,
	[imdbRating] [float] NULL,
	[originalTitle] [varchar](max) NULL,
	[poster] [varchar](max) NULL,
	[posterurl] [varchar](max) NULL,
	[ratings] [varchar](max) NULL,
	[releaseDate] [varchar](max) NULL,
	[storyline] [varchar](max) NULL,
	[title] [varchar](max) NULL,
	[year] [int] NULL,
 CONSTRAINT [PK_TopRatedMovies1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopRatedMovies2]    Script Date: 12/10/2019 1:04:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopRatedMovies2](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](max) NULL,
	[year] [int] NULL,
	[genres] [varchar](max) NULL,
	[ratings] [varchar](max) NULL,
	[poster] [varchar](max) NULL,
	[contentRating] [varchar](max) NULL,
	[duration] [varchar](max) NULL,
	[releaseDate] [varchar](max) NULL,
	[averageRating] [int] NULL,
	[originalTitle] [varchar](max) NULL,
	[storyline] [varchar](max) NULL,
	[actors] [varchar](max) NULL,
	[imdbRating] [float] NULL,
	[posterurl] [varchar](max) NULL,
 CONSTRAINT [PK_TopRatedMovies2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MoviesComingSoonDB] ON 

SET IDENTITY_INSERT [dbo].[MoviesComingSoonDB] OFF
SET IDENTITY_INSERT [dbo].[MoviesInTheaters] ON 

SET IDENTITY_INSERT [dbo].[MoviesInTheaters] OFF
SET IDENTITY_INSERT [dbo].[TopRatedIndian1] ON 

GO
SET IDENTITY_INSERT [dbo].[TopRatedIndian1] OFF
SET IDENTITY_INSERT [dbo].[TopRatedIndian2] ON 

GO
SET IDENTITY_INSERT [dbo].[TopRatedIndian2] OFF
SET IDENTITY_INSERT [dbo].[TopRatedMovies1] ON 

GO
SET IDENTITY_INSERT [dbo].[TopRatedMovies1] OFF
SET IDENTITY_INSERT [dbo].[TopRatedMovies2] ON 

GO
SET IDENTITY_INSERT [dbo].[TopRatedMovies2] OFF
USE [master]
GO
